#image {
	max-width: 600px;
	width: 100%;
	height: auto;
	padding-top: 20px;
}

html, body {
	text-align: center;
	font-family: 'PT Sans', sans-serif;
}


@media (min-width: 610px)
{
	#tribute-info {
		padding-left: 100px;
		padding-right: 100px;
	}
}

@media (min-width: 1160px)
{
	#tribute-info {
		padding-left: 350px;
		padding-right: 350px;
	}
}

#title {
	font-size: 48px;
}

#subtitle {
	font-weight: normal;
}
