#image {
	max-width: 600px;
	width: 100%;
	height: auto;
	padding-top: 20px;
	margin-bottom: -19px;

}

html, body {
	text-align: center;
	font-family: 'PT Sans', sans-serif;
}


@media (min-width: 610px)
{
	#tribute-info {
		padding-left: 100px;
		padding-right: 100px;
	}
}

@media (min-width: 1160px)
{
	#tribute-info {
		padding-left: 350px;
		padding-right: 350px;
	}
}

#title-div {


}

#title {
	font-size: 72px;
	margin-bottom: -10px;
}

#subtitle {
	font-weight: normal;
}

#img-div {
	background-image: url("http://i.imgur.com/CfzLJxp.jpg");
	margin: 0px -10px 25px -10px;
	padding-top: 0px;
	padding-bottom: 15px;
}

#logo-image {
	height: 150px;
	width: 150px;
	margin-top: -10px;
    margin-bottom: -35px;
}
